services:
    _defaults:
        autowire: true
        autoconfigure: true

    GusBundle\:
        resource: '../src/'
        exclude:
            - '../src/GusBundle.php'
            - '../src/DTO/'
            - '../src/Exception/'

    # Client Configuration
    GusBundle\Client\RegonClientInterface:
        class: GusBundle\Client\RegonClient
        arguments:
            $apiKey: '%env(GUS_REGON_API_KEY)%'
            $environment: '%env(default:GUS_ENVIRONMENT:GUS_ENVIRONMENT)%'
            $cache: '@cache.app'

    # Cache Configuration
    GusBundle\Cache\GusCacheStrategy:
        arguments:
            $cache: '@cache.app'
            $ttl: '%env(default:gus_cache_ttl:int:GUS_CACHE_TTL)%'